#conteudo{
width:1080px;
background-color:#FFFFF0;
margin:auto;
}

body {
	background: #5D4157; 
	background: linear-gradient(to right, #A4A4A4,#A4A4A4);      
	font-family: SourceSansPro, "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:0;
	line-height:1.4;
	color:black;
}

#menu{
background-color:#FA5858;            
font-size:25;
text-align:center;
}

#box1{{
background-color:#00FF7F;            
height:380px;
width:60%px;
text-align:middle;
line-height:100%;
padding-left:80px;
padding-top:15px;
}

#box2{
background-color:#00FF7F;              
height:auto;
width:auto;
text-align:left;
line-height:25px;
padding-left:5px;
}

p,h2,h1,h3{
margin:2;	
} 

.imageright{
padding-right:15px;
}